@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: #ffffff;
    --font-color: #202124;
    --secondary-color: #F2F2F2;
    --secondary-color-light: #F8F9FA;
}

html {
    font-family: 'Open Sans', sans-serif;
    font-size: .9rem;
    background: var(--bg-color);
    color: var(--font-color);
}

body {
    height: 100vh;

}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.nav-right , .nav-left{
    width: 400px;
    display: flex;
    align-items: center;
}

.nav-left {
    gap: 20px;
}

.gb_d {
    width: 30px;
}

.nav-right {
    justify-content: flex-end;
}
.nav-right div a:last-of-type {
    margin-left: 1em;
}

nav .icon {
    width: 30px;
}

.profile-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.nav-link {
    text-decoration: none;
    color: var(--font-color);
}

.container {
    width: 65%;
    margin: 10% auto;
    text-align: center;
}

.logo {
    width: 330px;
    
}

.icon {
    width: 24px;
    margin: 0 1em;
}

.searchbar-container {
    width: 100%;
    height: 3.1em;
    display: flex;
    border: 1px solid #BDC1C6;
    border-radius: 25px;
    margin: 2em 0;
}

.searchbar {
    width: 90%;
    background: transparent;
    border: none;
}

.searchbar:focus-visible {
    outline: none;
}

.searchbar-container:hover {
    background-color: #fff;
  box-shadow: 0 1px 6px rgba(32,33,36,.28);
  border-color: rgba(223,225,229,0);
}

.btn-container {
    margin-bottom: 2em;
}

.btn {
    padding: .6em 1.2em;
    border: none;
    border-radius: 5px;
    background: var(--secondary-color-light);
    color: var(--font-color);
    font-size: 1rem;
}

.btn:last-of-type {
    margin-left: .5em;
}